.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none;
}

.ui-menu .ui-menu {
    position: absolute;
}

.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    cursor: pointer;
    min-height: 0;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

.ui-widget-content {
    border: 1px solid #e5e4e4;
    background: #ffffff;
    color: #222222;
}

.ui-widget-content a {
    color: #222222;
    text-decoration: none;
    display: block;
    zoom: 1;
}

.dj-itemThumbnail {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

/* jQuery Autocomplete Style List Items */

.dj-itemProduct {
    margin-left: 10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
}

.dj-itemCategory {
    line-height: 30px;
    margin-left: 10px;
}

.dj-seperator {
    color: grey;
}

.dj-section {
    margin: 10px;
    color: #333333;
    font-size: 14px;
}

input#suggestions {
    font-size: 13px;
    color: #4a4a4a;
    box-sizing: border-box;
    padding: 8px 36px 7px 8px;
    width: 406px;
}

input:hover, input:focus, input:active {
    outline: none;
}

.ui-autocomplete {
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 404px;
    z-index: 10000;
}

.ui-autocomplete .dj-section {
    background: #ececec;
    clear: both;
    padding: 6px 10px 4px;
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
    margin: 0;
    font-weight: bold;
}

ul.ui-autocomplete.ui-menu li a {
    font-size: 13px;
    margin: 0;
    cursor: pointer;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
    border: 1px transparent;
    background: #f7f7f7 !important;
    font-weight: normal;
    color: inherit !important;
    padding: 0 0 0 0 !important;
    border-radius: 0;
}

.dj-product.ui-menu-item {
    width: 25%;
    float: left;
    text-align: center;
    padding: 0 4px;
    box-sizing: border-box;
    height: 155px;
}

.ui-menu-item {
    margin: 3px 0 !important;
}

.dj-itemThumbnail {
    padding-top: 10px;
    display: block;
    text-align: center;
    margin-left: 0;
}

.dj-itemThumbnail img {
    height: 65px;
}

.dj-itemProduct {
    font-size: 12px;
    line-height: 15px;
    padding: 7px 8px;
    color: #666;
    height: 80px;
    overflow: hidden;
    display: block;
    margin: 0;
    cursor: pointer;
}

.dj-itemCategory {
    line-height: 26px;
    margin-left: 10px;
}

.dj-itemBrand {
    display: block;
    margin: 2px auto;
    color: #333;
    max-height: 15px;
    overflow: hidden;
}

.dj-itemPrice {
    display: block;
    margin: 0 auto;
    color: #333;
}

.dj-itemTitle {
    max-height: 30px;
    overflow: hidden;
    display: block;
}
